#con_mensaje,
#con_parametriza,
#con_consultas,
#con_resultados {
	display:inline-block;
	float: left;
	position: relative;
    box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
}
#con_mensaje{
	padding: 10px;
	color: #990000;
}
#con_consultas {
	display: none;
}